<h2>Doctor Dashboard</h2>
<p>First name: {{ user.first_name }}</p>
<p>Last name: {{ user.last_name }}</p>
{% if user.profile_pic %}<img src="{{ user.profile_pic.url }}" width="100">{% endif %}
<p>Username: {{ user.username }}</p>
<p>Email: {{ user.email }}</p>
<p>Address: {{ user.address_line1 }}, {{ user.city }}, {{ user.state }}, {{ user.pincode }}</p>
<p>User Type: {{ user.user_type }}</p>
<button onclick="location.href='{% url 'doctor_blog_list' %}'">Blogs</button>
<button onclick="location.href='{% url 'doctor_blog_create' %}'">Create Blogs</button>
<button onclick="location.href='{% url 'login' %}'">logout</button>
